{% extends 'base.html '%}

 {% block content %}
 
 <div class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> About page...</h1>
            <p class="lead fw-normal text-white-50 mb-0"> T
                Welcome to Shop Me, your one-stop destination for all things trendy, unique, and high-quality. We are a passionate team of curators, dedicated to bringing you a wide range of products that cater to every taste and lifestyle. From the latest fashion and accessories to innovative gadgets and home decor, we've handpicked each item to ensure you get the best in both quality and style. At Shop Me, we believe in making shopping an enjoyable experience. That's why we prioritize customer satisfaction, offering fast shipping, hassle-free returns, and exceptional customer service. Join us on this journey and discover a new way to shop, where your satisfaction is our ultimate goal.
            </p>
        </div>
    </div>
</div>
{% endblock %}