 
<footer class="bg-dark text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-3">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg- col-md-6 mb-4 mb-md-1">
        <h5 class="text-uppercase mb-0">Company</h5>

        <ul class="list-unstyled ">
          <li>
            <a href="#!" class="text-white-50">services</a>
          </li>
          <li>
            <a href="#!" class="text-white-50">payment</a>
          </li>
          <li>
            <a href="#!" class="text-white-50">terms and condition</a>
          </li>
          <li>
            <a href="#!" class="text-white-50">privacy policy</a>
          </li>
        </ul>
      </div>
      
      <!--Grid column-->
      <div class="col-lg-5 col-md-6 mb-4 mb-md-1">
        <h5 class="text-uppercase mb-0">website</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white-50">products</a>
          </li>
          <li>
            <a href="#!" class="text-white-50">location</a>
          </li>
          <li>
            <a href="#!" class="text-white-50">about</a>
          </li>
          <li>
            <a href="#!" class="text-white-50">contact us</a>
          </li>
        </ul>
      </div>
     </div>
   </div>
 
   <div class="text-center p-3" style="background-color: rgba(99, 71, 71, 0.2);">
    <p class="m-0 text-center text-white">Copyright &copy; Shop me </p>
  </div>
 </footer>