 {% extends 'base.html '%}
{% block content %}

<div class="bg-dark py-5 ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Update user profile</h1>
             
        </div>
    </div>
</div>

<div class="container ">
   <div class="row justify-content-center mt-5">
     <div class="col-md-6">
       <div class="card">
         <div class="card-header text-center text-dark">
           
         </div>
         <div class="card-body">
           <form method="POST" action="{% url 'update_user' %}">
               {% csrf_token %}
               {{ user_form.as_p }}
               <br/>
                 <button type="submit" class="btn btn-secondary">Update </button>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
<br></br><br></br><br></br>
<br></br><br></br><br></br>
<br></br><br></br><br></br>
<br></br><br></br><br></br>

 {% endblock %}